{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href=" {{ url_for ('static', path='cadastro.css') }} ">

    <title>Cadastro do Produto</title>
{% endblock %}
    

{% block body %}

<main class="main">
    <h1 class="title comfortaa-700">Cadastro do Produto<span class="span">.</span></h1>

    <form action="/products/create" method="post" class="form_login">
        <input type="text" name="name" placeholder="Nome" class="input">

        <input type="number" name="price" placeholder="Preço" class="input">

        <input type="number" name="in_stock" placeholder="Em estoque" class="input">

        <button type="submit" class= "confirmar raleway-900">
                    Confirmar
        </button>

    </form>
</main>

{% endblock %}