{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='home.css') }}">
    <title>Home</title>
{% endblock %}
    

{% block body %}

<button class="ic_sair">
    <a href="/">
        <img src="../static/imgs/ic_sair.png" class="ic_sair" alt="Icone Sair">
    </a>
</button>
<main class="main">

    <div class="list_of_products">
        
        <div class="info">
            <h1 class="title comfortaa-700">Controle de Estoque<span>.</span></h1>
            <button class="btn create">
                <a href="/create_product" class="raleway-400">
                    <img src="../static/imgs/ic_criar.png" alt="create_icon" class="create_icon">
                    Novo Produto
                </a>
            </button>
        </div>

        {% if products %}

        {% for product in products %}
        <div class="content products">

            <div class="product_data">
                <ul class="datas">
                    <li class="prod_data name m-plus-rounded-1c-regular">{{ product.name }}</li>
                </ul>
                <ul class="side_data">
                    <li class="prod_data price m-plus-rounded-1c-regular">$ {{ product.price|round(2) }}</li>
                    <li class="prod_data in_stock m-plus-rounded-1c-regular">Em Estoque: {{ product.in_stock }}</li>
                </ul>
            </div>

            <div class="other_tools">
                <button class="btn update">
                    <a href="/update_product" class="raleway-400">
                        <img src="../static/imgs/ic_editar.png" alt="edit_icon" class="edit_icon">
                        Editar
                    </a>
                </button>

                <button class="btn delete">
                    <a href="/delete_product" class="raleway-400 btn">
                        <img src="../static/imgs/ic_remover.png" alt="delete_icon" class="delete_icon">
                        Excluir
                    </a>
                </button>
            </div>
        </div>
        
        {% endfor %}
        {% endif %}
    </div>

    <div class="list_of_orders">

        <div class="info">
            <h1 class="title comfortaa-700">Controle de Pedidos<span>.</span></h1>

            <button class="btn create">
                <a href="/create_order" class="raleway-400">
                    <img src="../static/imgs/ic_criar.png" alt="create_icon" class="create_icon">
                    Novo Pedido
                </a>
            </button>
        </div>

        {% if orders %}
        <div class="orders">

            {% for order in orders %}
            <div class="order_data">
                <div class="first_info">
                    <ul class="datas">
                        <li class="order_data id m-plus-rounded-1c-regular">{{ order.id }}.</li>
                    </ul>
                    <ul class="primary_side_data">
                        <li class="order_data user_name m-plus-rounded-1c-regular">Usuário: {{ order.user_name }}</li>
                        <li class="order_data product_name m-plus-rounded-1c-regular">Produto: {{ order.product_name }}</li>
                    </ul>
                </div>
                <ul class="other_data">
                    <li class="ord_data product_unitary_price m-plus-rounded-1c-regular">Valor Unitário: $ {{ order.product_unitary_price }}</li>
                    <li class="ord_data quantity m-plus-rounded-1c-regular">Quantidade: {{ order.quantity }} X</li>
                    <li class="ord_data total_value m-plus-rounded-1c-regular">Valor Total: <span>$</span> {{ order.total_value }}</li>
                </ul>
            </div>

            <div class="other_tools">
                <button class="btn update">
                    <a href="/update_order" class="raleway-400">
                        <img src="../static/imgs/ic_editar.png" alt="edit_icon" class="edit_icon">
                        Editar
                    </a>
                </button>

                <button class="btn delete">
                    <a href="/delete_order" class="raleway-400 btn">
                        <img src="../static/imgs/ic_remover.png" alt="delete_icon" class="delete_icon">
                        Excluir
                    </a>
                </button>
            </div>
            {% endfor %}

        </div>
        {% endif %}
    </div>

</main>

{% endblock %}