.venv
venv
.env
env
*pycache*
__pycache__/
__pycache__/**
*.db

*.ini
alembic/
.venv/
venv/
.env/
env/

*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app